@charset "utf-8";

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Patrick Hand SC', cursive; */

body {
	width: 450px;;
}

main {
	background:#CFCFCF;
	overflow: auto;
	padding: 10px;
}
div {
	
	float: left;
	padding: 5px;
}

/* div1 styles */
#div1 {
	text-align: center;
	background: #8d6b94;
	padding: 5px;
	width: 200px;
}

.quote1 {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 25px;
	padding-bottom: 11px;
}

.quote2 {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 25px;
	line-height: 30px;
}

/* div 2 styles */
#div2 {
	background: #fbfcff;
	width: 200px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	font-size: 20px;
	padding: 5px;
	line-height: 30px;
}



#div3 {
	background:#605856;
	width: 200px;
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	padding: 5px;
}

#div4 {
	background: #1c6e8c;
	width: 200px;
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	padding: 5px;
}

#div5 {
	background: #274156;
	width: 200px;
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	padding: 5px;
}

#div6 {
	background: #fbfcff;
	width: 200px;
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	padding: 5px 5px 55px 5px;
}

#div7 {
	background: #8d6b94;
	width: 200px;
	text-align: center;
	padding: 5px;
	float: right;
	margin-right: 0px;
	font-size: 20px;
}

#div8 {
	background: #605856;
	width: 200px;
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	padding: 13px 5px 52px 5px;
	float: left;
	line-height: 30px;
}

span {
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 28px;
}